<h1>Nosotros</h1>
<div class="container">
  <p-fieldset legend="¿Qui&eacute;nes Somos?" [toggleable]="true">
    Somos la mejor opci&oacute;n para satisfacer las necesidades de nuestros clientes en servicios de cocteler&iacute;a y alquiler de barras m&oacute;viles, en Oc&eacute;ano Azul nos caracterizamos por una amplia experiencia, innovaci&oacute;n y creatividad en la realizaci&oacute;n de eventos. Por ello, proponemos una mezcla de sabores, aromas y colores para el disfrute de momentos &uacute;nicos. Una propuesta Original, en donde la Calidad y la Atenci&oacute;n son las claves de nuestro servicio. Adem&aacute;s, ofrecemos los m&aacute;s modernos productos, contando con profesionales altamente calificados, que brindan una asistencia creativa de primera.
  </p-fieldset>
  <p-fieldset legend="Nuestro Objetivo" [toggleable]="true">
    Permitirles a nuestros clientes disfrutar de su evento y de sus invitados sin tener que preocuparse. As&iacute; como, la reducci&oacute;n de costos innecesarios en la adquisici&oacute;n de insumos e implementos para preparar bebidas especiales, Lograr posicionarnos en el mercado aumentando constantemente nuestra participaci&oacute;n. Ofrecer un servicio que nos diferencie de los competidores, bas&aacute;ndonos en est&aacute;ndares de calidad, flexibilidad y adaptaci&oacute;n constante a los requerimientos.
  </p-fieldset>
  <p-fieldset legend="Nuestra Misi&oacute;n" [toggleable]="true">
    Satisfacer las exigencias de la m&aacute;s distinguida clientela, con soluciones innovadoras que garanticen su total satisfacci&oacute;n.
  </p-fieldset>
  <p-fieldset legend="Nuestra Visi&oacute;n" [toggleable]="true">
    Trabajar con Dedicaci&oacute;n, Calidad y Eficiencia para consolidarnos como la empresa l&iacute;der del mercado.
  </p-fieldset>
</div>
