.block {
    div {
        border: 1px solid #EEEEEE;
        border-radius: 5px;
        padding: 15px;
    }
    .tittle {
        margin: 0 15px 0 15px;
        background-color: #FFFFFF;
        position: relative;
    }
    .body {
        margin: -31px 0 15px 0;
        padding-top: 50px;
    }
}
