<h1>Galer&iacute;a</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let image of images">
        <button class="thumbnail" (click)="setOpenedStateTrue(image.id, image.description)">
          <img src="../../../assets/gallery/thumbnails/{{image.id}}.jpg" alt={{image.description}}>
        </button>
      </div>
      <div class="modal fade blur" tabindex="-1" [ngClass]="{in: openedState, display: openedState}" (click)="setOpenedStateFalse()">
        <img src="../../../assets/gallery/{{openedId}}.jpg" alt={{openedDescription}}>
      </div>
    </div>
  </div>
</div>
