<h1>Iniciar Sesi&oacute;n</h1>
<div class="container">
  <div class="row">
    <form class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" placeholder="Ingrese su nombre de usuario">
      </div>
      <div class="form-group">
        <label for="password">Contrase&ntilde;a</label>
        <input type="password" class="form-control" id="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>